@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lexend+Deca:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes opacityAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes translateYAnimation {
    from {
        transform: translateY(15px);
    }
    to {
        transform: translateY(0);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #f3f5f7;
}

header {
    height: 230px;
    width: auto;
    background: linear-gradient(to left, #3ea1db, #574ae8);
    font-family: 'Lexend Deca', sans-serif;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.header-label-container {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
}

.header-label-left {
    font-weight: 400;
}

.search-bar-container {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: none;
    transition: box-shadow 0.4s;
}

.img-search-bar {
    width: 20px;
    margin: 1em;
    cursor: pointer;
}

.input-search-bar {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    font-size: 1rem;
    font-weight: 400;
    color: #f3f5f7;
    outline: none;
}

.posts-section {
    width: 100%;
    height: auto;
    animation: opacityAnimation 1.5s ease, translateYAnimation 1.5s ease-out;
}

.posts-container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.post-content-container {
    width: 100%;
    height: auto;
    min-height: 250px;
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
}

.post-content-image {
    max-width: 40%;
    max-height: 100%;
    overflow: hidden;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}

.post-image:hover {
    transform: scale(1.15);
}

.post-content-text-container {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    width: 70%;
}

.post-content-text-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5em;
}

.post-date-label {
    color: #b6b6b6;
    font-size: 0.8rem;
}

.fav-icon {
    max-width: 30px;
    cursor: pointer;
    transition: transform 0.7s ease;
}

.post-content-text-middle {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}

.post-text {
    color: #b6b6b6;
    padding: 1em 0;
}

.post-title {
    text-decoration: none;
    font-weight: 400;
    color: #313131;
}

.create-post-section {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    padding: 3em 0.5em;
}

.label-newest-news {
    font-size: 2.2rem;
    color: #313131;
}

.input {
    border: 2px solid #b6b6b6;
    border-radius: 5px;
    padding: 1em;
    font-size: 0.85rem;
    margin: 0.3em 0;
    outline: none;
    transition: box-shadow 0.5s ease;
}

.input:focus {
    box-shadow: 0px 0px 5px #574ae8;
}

.input-post-content {
    outline: none;
    resize: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 801px) {
    .post-content-container {
        flex-direction: column;
    }
    .post-content-image {
        max-width: 100%;
        max-height: 200px;
    }
    .post-content-text-container {
        width: 100%;
    }
}

@media screen and (max-width: 320px), (max-width: 480px) {
    html {
        font-size: 13px;
    }

    body {
        font-size: 1rem;
    }
    .create-post-section {
        flex-direction: column;
        width: 85%;
    }
    .posts-container {
        width: 85%;
    }
    .header-content {
        width: 85%;
    }
}
